language: node_js

sudo: required

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - libudev-dev

before_install:
  - wget https://github.com/OpenZWave/open-zwave/archive/master.zip
  - unzip master.zip
  - cd open-zwave-master
  - sudo make install
  - sudo ldconfig /usr/local/lib /usr/local/lib64
  - npm install -g node-gyp
  - cd ..

env:
  global:
    - CC=/usr/bin/gcc-4.9
    - CXX=/usr/bin/g++-4.9

node_js:
  - "0.12"
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"
  - "9"
  - "10"
